.feedback {
    display: block;
    margin: 0 auto;
    max-width: 680px;
    border: 1px solid tomato;
    padding: 10px 20px;
}
.feedbackTitle {
    text-transform: uppercase;
    text-decoration: underline;
    color: tomato;
    text-align: left;
}
/* .feedbackList {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    list-style: none;
}
.feedbackItem {
   margin: 0 10px;
   border: 1px solid grey;
   padding: 4px;
   border-radius: 2px;
   background-color: rgb(187, 185, 185);
   cursor: pointer;
} */
.statisticList {
    display: block;
    max-width: 300px;
}
.statisticItem {
    display: flex;
    justify-content: space-between;
    cursor: default;
}